/* ===== COLORS ===== */
:root {
  /* CSS RGB */
  --primary: #1d3f75;
  --primary-dark: #152b4f;
  --primary-light: #0065b1;
  --secondary: #ff8600;
  --secondary-dark: #e12a26;
  --neutral-light: #e6e6e5;
  --neutral-white: #ffffff;
  --neutral-black: #000000;
  --neutral-gray: #808080;
  --accent: #0065b1;
  --accent-light: #4a90e2;
  --accent-dark: #004b8c;

  /* CSS HSL */
  --primary: hsla(217, 60%, 29%, 1);
  --primary-light: hsla(206, 100%, 35%, 1);
  --secondary: hsla(32, 100%, 50%, 1);
  --secondary-dark: hsla(1, 76%, 52%, 1);
  --neutral-light: hsla(60, 2%, 90%, 1);
  --neutral-white: hsla(0, 0%, 100%, 1);
  --neutral-black: hsla(0, 0%, 0%, 1);
  --neutral-gray: hsla(0, 0%, 50%, 1);
  --accent: hsla(206, 100%, 35%, 1);
  --accent-light: hsla(212, 72%, 59%, 1);
  --accent-dark: hsla(208, 100%, 27%, 1);

  /* SCSS RGB */
  --primary: rgba(29, 63, 117, 1);
  --primary-light: rgba(0, 101, 177, 1);
  --secondary: rgba(255, 134, 0, 1);
  --secondary-dark: rgba(225, 42, 38, 1);
  --neutral-light: rgba(230, 230, 229, 1);
  --accent: rgba(0, 101, 177, 1);
  --accent-light: rgba(74, 144, 226, 1);
  --accent-dark: rgba(0, 75, 140, 1);

  /* SCSS Gradient */
  --gradient-top: linear-gradient(0deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-right: linear-gradient(90deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-bottom: linear-gradient(180deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-left: linear-gradient(270deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-top-right: linear-gradient(45deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-bottom-right: linear-gradient(135deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-top-left: linear-gradient(225deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-bottom-left: linear-gradient(315deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-radial: radial-gradient(var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
}

.header {
  background-color: transparent;
  background: linear-gradient(var(--neutral-black), transparent);
  position: absolute;
  box-shadow: none;
}

.header:hover {
  box-shadow: none;
}

.main {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.video-container .content {
  text-align: center;
}

.video-container .content h1 {
  color: #fff;
  font-size: 95px;
  margin: bottom 50px;
  mix-blend-mode: overlay;
}


.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-inline: 4rem;
}

.intro-section h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: var(--primary);
  position: relative;
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.intro-section h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  border-radius: 0.5rem;
  background-color: var(--primary);
  margin-top: 1rem;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.intro-section p {
  font-size: 1.5rem;
  font-weight: 400;
  max-width: 70%;
  text-align: center;
  line-height: 1.5;
  opacity: 0.8;
}

.history-1972 {
  display: flex;
  flex-direction: row-reverse;
  padding-inline: 4rem;
  padding-block: 2rem;
  justify-content: center;
  align-items: center;
}

.history-1972 .image {
  width: 600px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.history-1972 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.history-1972 .image:hover img {
  transform: scale(1.03);
}

.history-1972 .image:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.history-1972 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 50%;
}

.history-1972 .content h1 {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.history-1972 .content h3 {
  font-size: 1.3rem;
  font-weight: 600;
}

.history-1972 .content p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 50%;
  line-height: 1.5;
  opacity: 0.8;
}

.history-1978 {
  display: flex;
  flex-direction: row;
  padding-inline: 4rem;
  padding-block: 2rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.history-1978 .image {
  width: 400px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.history-1978 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.history-1978 .image:hover img {
  transform: scale(1.03);
}

.history-1978 .image:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.history-1978 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 30%;
}

.history-1978 .content h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.history-1978 .content h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.history-1978 .content p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.8;
}

.history-1984 {
  display: flex;
  flex-direction: row;
  padding-inline: 4rem;
  padding-block: 2rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.history-1984 .image {
  width: 800px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.history-1984 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.history-1984 .image img:hover {
  transform: scale(1.03);
}

.history-1984 .image:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.history-1984 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 40%;
}

.history-1984 .content h1 {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.history-1984 .content h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.history-1984 .content p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.8;
}

.history-1986 {
  display: flex;
  flex-direction: row;
  padding-inline: 4rem;
  padding-block: 2rem;
  gap: 4rem;
  justify-content: center;
  align-items: start;
}

.history-1986 .image {
  width: 400px;
  height: 300px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;

}

.history-1986 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.history-1986 .image img:hover {
  transform: scale(1.03);
}

.history-1986 .image:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.history-1986 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 30%;
}

.history-1986 .content h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.history-1986 .content h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.history-1986 .content p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.8;
}

.history-2000 {
  display: flex;
  flex-direction: row;
  padding-inline: 4rem;
  padding-block: 2rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.history-2000 .image {
  width: 900px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.history-2000 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.history-2000 .image img:hover {
  transform: scale(1.03);
}

.history-2000 .image:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.history-2000 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 40%;
}

.history-2000 .content h1 {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.history-2000 .content h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.history-2000 .content p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.8;
  max-width: 50%;
}

.history-2005 {
  display: flex;
  flex-direction: row;
  padding-inline: 4rem;
  padding-block: 2rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.history-2005 .image {
  width: 400px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.history-2005 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.history-2005 .image:hover img {
  transform: scale(1.03);
}

.history-2005 .image:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.history-2005 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 30%;
}

.history-2005 .content h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.history-2005 .content h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.history-2005 .content p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.8;
}

.history-2008 {
  display: flex;
  flex-direction: row-reverse;
  padding-inline: 4rem;
  padding-block: 2rem;
  justify-content: center;
  align-items: center;
}

.history-2008 .image {
  width: 600px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.history-2008 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.history-2008 .image:hover img {
  transform: scale(1.03);
}

.history-2008 .image:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.history-2008 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 50%;
}

.history-2008 .content h1 {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  max-width: 50%;
}

.history-2008 .content h3 {
  font-size: 1.3rem;
  font-weight: 600;
  max-width: 60%;
}

.history-2008 .content p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 50%;
  line-height: 1.5;
  opacity: 0.8;
}

.history-2009 {
  display: flex;
  flex-direction: row;
  padding-inline: 4rem;
  padding-block: 2rem;
  gap: 4rem;
  justify-content: center;
  align-items: start;
}

.history-2009 .image {
  width: 400px;
  height: 300px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;

}

.history-2009 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.history-2009 .image img:hover {
  transform: scale(1.03);
}

.history-2009 .image:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}


.history-2009 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 30%;
}

.history-2009 .content h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.history-2009 .content h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.history-2009 .content p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.8;
}

.history-2016 {
  display: flex;
  flex-direction: column;
  padding-inline: 4rem;
  padding-block: 2rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.history-2016 .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.history-2016 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.history-2016 .image img:hover {
  transform: scale(1.03);
}

.history-2016 .image:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.history-2016 .content-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.history-2016 .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30%;
}

.history-2016 .content h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.history-2016 .content h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.history-2016 .content p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.8;
}

.history-2022 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  gap: 2rem;
}

.history-2022 .image {
  width: 110%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.history-2022 .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.history-2022 .image img:hover {
  transform: scale(1.03);
}

.history-2022 .image:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.history-2022 .content-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.history-2022 .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
}

.history-2022 .content h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.history-2022 .content h3 {
  font-size: 1.5rem;
  color: var(--neutral-black);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.history-2022 .content h2 {
  font-size: 2rem;
  color: var(--neutral-black);
  margin-bottom: 1rem;
  font-weight: 400;

}

.history-2022 .content p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  max-width: 500px;
}