@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* ===== COLORS ===== */
:root {
  /* CSS RGB */
  --primary: #1d3f75;
  --primary-dark: #152b4f;
  --primary-light: #0065b1;
  --secondary: #ff8600;
  --secondary-dark: #e12a26;
  --neutral-light: #e6e6e5;
  --neutral-white: #ffffff;
  --neutral-black: #000000;
  --neutral-gray: #808080;
  --accent: #0065b1;
  --accent-light: #4a90e2;
  --accent-dark: #004b8c;

  /* CSS HSL */
  --primary: hsla(217, 60%, 29%, 1);
  --primary-light: hsla(206, 100%, 35%, 1);
  --secondary: hsla(32, 100%, 50%, 1);
  --secondary-dark: hsla(1, 76%, 52%, 1);
  --neutral-light: hsla(60, 2%, 90%, 1);
  --neutral-white: hsla(0, 0%, 100%, 1);
  --neutral-black: hsla(0, 0%, 0%, 1);
  --neutral-gray: hsla(0, 0%, 50%, 1);
  --accent: hsla(206, 100%, 35%, 1);
  --accent-light: hsla(212, 72%, 59%, 1);
  --accent-dark: hsla(208, 100%, 27%, 1);

  /* SCSS RGB */
  --primary: rgba(29, 63, 117, 1);
  --primary-light: rgba(0, 101, 177, 1);
  --secondary: rgba(255, 134, 0, 1);
  --secondary-dark: rgba(225, 42, 38, 1);
  --neutral-light: rgba(230, 230, 229, 1);
  --accent: rgba(0, 101, 177, 1);
  --accent-light: rgba(74, 144, 226, 1);
  --accent-dark: rgba(0, 75, 140, 1);

  /* SCSS Gradient */
  --gradient-top: linear-gradient(0deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-right: linear-gradient(90deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-bottom: linear-gradient(180deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-left: linear-gradient(270deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-top-right: linear-gradient(45deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-bottom-right: linear-gradient(135deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-top-left: linear-gradient(225deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-bottom-left: linear-gradient(315deg, var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
  --gradient-radial: radial-gradient(var(--primary), var(--accent), var(--secondary), var(--secondary-dark), var(--neutral-light));
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral-black);
  padding: 0 10rem;
}

.home-photo img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 15px;
}

.home-content .line {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  text-align: left;
  max-width: 90%;
}

.home-content .line h2 {
  font-family: "Orbitron", sans-serif;
}
.home-content .line span {
  font-family: "Orbitron", sans-serif;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  color: white;
  background-color: var(--neutral-black);
  text-align: center;
  gap: 2rem;
}

h2 span {
  color: var(--secondary-dark);
}

.heading h1{
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary);
  text-align: center;
  position: relative;
  margin: 3rem 0;
}

.heading h1::after {
  /* margin-top: 1rem; */
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 80px;
  height: 4px;
  background: var(--primary);
}

.car-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
  justify-content: center;
  flex-direction: row;
}


.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(36, 35, 35, 0.384);
  margin-bottom: 1rem;
}

.box {
  width: 300px;
  height: auto;
  border-radius: 2rem;
  transition: all 0.3s;
}

.box:hover {
  background-color: rgba(36, 35, 35, 0.484);
}

.box img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  transition: all 0.3s;
}

.box img:hover {
  transform: scale(1.05);
}

.box .show-cars {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.box .show-cars:hover {
  background-color: var(--accent-light);
}

.models-lines {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.categories {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.extra-images {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: none;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease, padding 0.5s ease;
}

.extra-images.visible {
  opacity: 1;
  max-height: 500px;
  padding: 20px;
}

.extra-images .extra-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.extra-images .extra-image img{
  width: 300px;
  height: 100px;  
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  object-fit: cover;
}

.extra-images .extra-image img:hover {
  transform: scale(1.1);
}

.extra-images .extra-image h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-dark);
}